h1 {
  /* margin-bottom: 1em; */
  font-size: 6em;
  font-weight: normal;
}

h3 {
  font-size: 3em;
  font-weight: normal;
}

p {
  font-size: 1.4em;
  font-weight: normal;
}

li {
  font-size: 1.4em;
}

body {
  color: aliceblue;
  background-color: #111;
  font-family: Arial, sans-serif;
}

.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70em;
  max-height: 80em;
  width: auto;
  height: auto;
}
